body {
  margin: 0;
  padding: 0;
}

@mixin palette($base-color) {
  width: 100vw;
  text-align: center;

  .base-color {
    background-color: $base-color;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color, 10 * $i);
    }
  }

  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($base-color, 5 * $i);
    }
  }

}

.palette-1 {
  @include palette(#ee7674);
}

.palette-2 {
  @include palette(#75b9be);
}

.palette-3 {
  @include palette(#d0d6b5);
}

.color-box {
  display: inline-block;
  color: azure;

  width: 8vw;
  $height: 5vw;
  height: $height;
  line-height: $height;
  text-align: center;

  border-radius: 0.5rem;
  margin: 0.1rem;
}