$color-apricot: #ee7674;
$color-blue-neptune: #75b9be;
$color-green-mist: #d0d6b5;

body {
  margin: 0;
  padding: 0;
}

@mixin palette($base-color) {
  .base-color {
    background-color: $base-color;
  }

  $total-darken-boxes: 4;
  $darken-step: 10;
  @for $i from 1 through $total-darken-boxes {
    .darken-#{$i} {
      background-color: darken($base-color, $i * $darken-step);
    }
  }

  $total-lighten-boxes: 4;
  $lighten-step: 5;
  @for $i from 1 through $total-lighten-boxes {
    .lighten-#{$i} {
      background-color: lighten($base-color, $i * $lighten-step);
    }
  }
}

.container {
  width: 100vw;
  text-align: center;
  margin: 0.8rem 0;

  &.palette-1 {
    @include palette($color-apricot);
  }
  &.palette-2 {
    @include palette($color-blue-neptune);
  }

  &.palette-3 {
    @include palette($color-green-mist);
  }

  .color-box {
    display: inline-block;
    width: 8vw;
    $height: 5vw;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 0.1rem ;

    & span {
      color: darkslategray;
      font-family: Bahnschrift, sans-serif;
      font-size: 1rem;
    }
  }
}


